body {
    background-image: url('https://st2.depositphotos.com/1000956/7603/i/950/depositphotos_76036175-stock-photo-white-fluffy-clouds.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navBar {
    background-color: #00b4d8; 
    width: 100%;
    position: fixed;  
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}

.navDiv  {
    display: flex;
    align-items: Center;
    justify-content: space-between;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoImg{
    /* border: solid green; */
    border-radius: 20%;
    padding: 1em;
    max-height: 80px;
    max-width: 80px;
    margin-right: 1em;      
}


.logo p{
    font-size: 30pt;
    color: aliceblue;
}


li{
    list-style: none; display: inline-block;
}

li a{
    color: aliceblue;
    font-size: 18pt;
    font-weight: bold;
    margin-right: 20px;
}

.navDiv button{
    opacity: 1;
    transition: opacity 230ms ;
}

ul button:hover{
    opacity: 0;
}

.title{
    /* border: solid red; */
    margin-top: 8em;
    background-color: aliceblue;
    color: #03045e;
    text-align: center;
    font-size: 15pt;
    
}
.test{
    /* border: solid red; */
    background-color: aliceblue;
    color: #03045e;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center; 
}


